name: Run tests

on:
  push:
    branches-ignore: [ main ]
  pull_request:
    branches-ignore: [ main ]
  workflow_call:
  workflow_dispatch:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10"]
        poetry-version: ["1.1.13"]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install poetry ${{ matrix.poetry-version }}
      run: |
        python -m ensurepip
        python -m pip install --upgrade pip
        python -m pip install poetry==${{ matrix.poetry-version }}

    - name: Install dependencies
      shell: bash
      run: |
        python -m poetry config virtualenvs.create false
        python -m poetry install

    - name: Test with pytest
      shell: bash
      run: |
         python -m pytest -v tests

    - name: Test with pyright
      uses: jakebailey/pyright-action@v1
      with:
        extra-args: src

    - name: Test with black
      uses: psf/black@stable